/*### BODY ###*/
body
{
    background: none;
    background-color: #FFF;
	padding: 0px;
	margin: 0px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #8d8d8d;
}
/*### BODY ###*/




/*### COMMON ITENS ###*/
a {
    border-bottom: none;
    color: #4A9896;
    text-decoration: none;
    outline: none;
}
.img-responsive {
    width: 100%;
    height: auto;
}
.txt-justify {
    text-align: justify;
}
.no-padding, .no-padding div, .no-padding span {
    padding: 0 !important;
}
.no-padding p {
    padding: 0 0 8px 0;
}
.long-text, .long-text p {
    line-height: 160% !important;
}
.box_header:after {
    content: "";
    display: block;
    bottom: 0;
    width: 50px;
    height: 2px;
    background: #4A9896;
    margin-top: 10px;
    visibility: hidden;
}
.header_right a.scrolling_list_control_left:hover, .header_right a.scrolling_list_control_right:hover, .pagination li a:hover, .pagination li.selected a, .tabs_navigation li a:hover, .tabs_navigation li a.selected, .tabs_navigation li.ui-tabs-active a, .categories li a:hover, .scrolling_list li a:hover .number, .controls .close:hover, .controls .prev:hover, .controls .next:hover {
    border-color: #4A9896;
}
.icon_small_arrow.margin_right_gray
{
	background-image: url('../../images/icon_arrow_margin_right_gray.png');
}
.accordion .ui-accordion-header.ui-state-active
{
	border-bottom: 1px solid #4A9896;
	background: #4A9896;
	padding: 10px 12px;
	margin-top: -1px;
}
.accordion .ui-accordion-header.ui-state-hover h3
{
	color: #4A9896;
}
.accordion .ui-accordion-header.ui-state-active.ui-state-hover h3
{
	color: #fff;
}
.accordion .ui-accordion-header h3
{
	color: #666;
	background: url('../../images/accordion_plus.png') no-repeat right center;
	padding-right: 13px;
}
blockquote {
    padding-left: 25px;
    color: #4A9896;
    font-size: 15px;
    font-family: 'Volkhov';
    border-left: 2px solid #4A9896;
    line-height: 150%;
    margin-bottom: 25px;
}
/*### COMMON ITENS ###*/






/*### TOP ###*/
.header
{
	padding: 28px 0;
}
.header_line
{
    position: relative;
	margin-left: auto;
    margin-right: 3%;
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: right;
    color: #FFF;
    float: right;
}
.header_line_hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(255,255,255,0.1);
    padding: 0; 
}
.header_line div {
    margin-left: 15px;
    float: right;
}
.header_line a {
    color: #FFF;
    text-decoration: none;
    border: none;
}
.header_line a:hover {
    color: #999999;
}
.header_line .social-icons {
    font-size: 1.2em;
}
.header_line .link-intranet, .header_line .social-icons {
    padding-top: 5px;
}
.header_line .link-intranet:hover {
    text-decoration: underline overline;
}
.header_container .search-box input {
    position: relative;
    border: 1px solid rgba(255,255,255,0.3);
    background:none;
    color: #CCC;
    width: 100%;
    height: 20px;
    font-size: 13px;
    line-height: 20px;
    padding: 2px;
    max-width: 100%;
    float: left;
}

.header_container .search-box input::placeholder {
    color: #CCC; 
}

.header_line .search-box .search-icon {
    position: absolute;
    margin-top: 5px;
    margin-left: -20px;
}
.header_container {
    background-color: rgba(0,0,0,.2);
    left: 0px;
    position: absolute;
    z-index: 9999999999;
    width: 100%;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  }

.header_container.page-mostra,
.header_container.page-fale-conosco,
.header_container.page-trabalhe-conosco {
    background-color: #56B2AF;
}
@media screen and (max-width: 1009px) {

    .header_line {
        width: 90%;
        margin: auto;
        float: left;
    }

}
/*### TOP ###*/






/*### MENU AND NAVIGATION ###*/
.sf-menu li, .sf-menu li:hover, .sf-menu li.sfHover, 
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active,
.sf-menu li a:hover {
    background: none !important;
}
.sf-menu li a, .sf-menu li a:visited
{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #FFF;
    border: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.sf-menu li a:hover
{
    color:#999999;
	background: none;
}
.tabs_box_navigation.sf-menu .tabs_box_navigation_selected:hover {
    background: none;
}
/*### MENU AND NAVIGATION ###*/











/*### SITE CONTAINER ###*/
.site_container {
    max-width: 100%;
    background-color: #F5F5F5;
    border: none;
}
.site_container.narrow
{
    max-width: 100%;
}
/*### SITE CONTAINER ###*/






/*### INTERNAL CONTAINER ###*/
.site-container-internal
{
    max-width: 100%;
}
.site-container-internal.narrow
{
    max-width: 100%;
}
.site-container-internal .page {
    padding-bottom: 15px;
}
/*### INTERNAL CONTAINER ###*/





/*### SLIDER ###*/
.tp-banner {
    background-color: #F5F5F5;
}
.tp-legend-wrap {
    white-space: normal !important;
}
.large_bold_white {
    font-size: 40px !important;
}
.medium_light_white {
    font-size: 20px !important;
}
/*### SLIDER ###*/





/*### CONTACT AREA ###*/
.home-contact-area {
    background-color: #F5F5F5;
    border: none;
}
.home-contact-area .features_image,
.home-contact-area .features_image img
{
	display: block;
	width: 32px;
	height: 32px;
}

.home-contact-area .columns_3 .item_content .features_image, .home-contact-area .columns_3 .features_image img,
.home-contact-area .features_icons_small .features_image, .home-contact-area .features_icons_small .features_image img
{
	width: 32px;
	height: 32px;
}

.home-contact-area .item_content .text
{
    font-size: 18px;
    color: #2A2D32;
    float: right;
    margin-top: -20px;
    margin-right: 25px;
	line-height: 150%;
}

.home-contact-area .item_content .text h3 {
    font-size: 14px;
    margin-bottom: 0px;
    color: rgba(58,58,58,0.6);
}

.home-contact-area .column:last-child .item_content .text span {
    font-size: 16px;
}

@media screen and (max-width: 1009px) {

    .home-contact-area .column:last-child .item_content .text span {
        font-size: 12px;
        line-height: 120%;
    }
}

@media screen and (max-width: 767px) {

    .home-contact-area .columns_3 .column {
        width: 138px;
        margin-left: 0px;
        margin-right: 13px;
    }

    .home-contact-area .columns_3 .column:first-child {
        margin-left: 20px;
    }

    .home-contact-area .columns_3 .column:last-child {
        margin-right: 0px;
    }
    
    .home-contact-area .columns_3 .item_content .text {
        
        margin-top: 20px;
        width: 138px;
    }
}

@media screen and (max-width: 479px) {

    .home-contact-area .columns_3 .column {
        width: 300px;
        margin-left: 0px;
    }

    .home-contact-area .features_image {

        position: relative;
        margin: 10px 0 0 40px;
        float: left;
    }

    .home-contact-area .columns_3 .column:first-child {
        margin-left: 0px;
    }

    .home-contact-area .columns_3 .item_content .text {
        
        position: relative;
        margin: 0;
        width: 185px;
        float: right;
    }
}

/*### CONTACT AREA ###*/








/*### HOME BOX ###*/
.home-box-container {
    min-height: 130px;
    margin-bottom: 90px;
    border-bottom: 1px solid #DEDFE1;  
    background-color: #F5F5F5;
}
.home-box-content {
    position: absolute;
}
.home_box
{
	padding: 45px 30px 45px;
	z-index: 2;
}
.home_box.light_blue
{
    background-color: #5CBFBC;
}
.home_box.blue
{
	background-color: #56B2AF;
}
.home_box.dark_blue
{
	background-color: #4A9896;
}
.items_list.dark_blue li {
    border-color: #FFF;
}

@media screen and (max-width: 767px) {

    .home-box-container {
        min-height: 240px;
        margin-bottom: 250px;
    }
        
}

@media screen and (max-width: 479px) {

    .home-box-container {
        min-height: 300px;
        margin-bottom: 280px;
    }
        
}
/*### HOME BOX ###*/








/*### SERVICES BOX ###*/
.home-icon-services {
    padding-top: 10px;
}
.home_icon_services {
    padding-top: 1px;
}
.home_icon_services .columns_4 .column
{
	float: left;
	width: 200px;
	margin-left: 60px;
}
.home_icon_services .columns_4 .column:first-child
{
	margin-left: 0;
}
.home_icon_services .columns_4 .item_content .text
{
	width: 200px;
}
.home_icon_services .features_image {
    width: 100%;
    height: 50px;
}
.home_icon_services .features_image img
{
	display: block;
	width: 50px;
    height: 50px;
    margin: auto;
}

.home_icon_services .item_content .text
{
    margin-top: 10px;
    font-size: 12px;
    color: rgba(58,58,58,0.6);
    text-align: justify;
}

.home_icon_services .item_content .text h3 {
    color: rgba(58,58,58,0.6);
    text-align: center;
}

.home_icon_services .text a {
    color: rgba(58,58,58,0.6);
}

.home_icon_services .text a:hover {
    border: none;
    text-decoration: underline;
}

@media screen and (max-width: 1009px) {

    .home_icon_services .columns_4 .column {
	    width: 175px;
	    margin-left: 15px;
    }

    .home_icon_services .columns_4 .item_content .text {

        width: 175px;
    }
}

@media screen and (max-width: 767px) {

    .home_icon_services .columns_4 .column {
	    width: 220px;
	    margin-left: 20px;
    }

    .home_icon_services .columns_4 .item_content .text {

        width: 220px;
    }

    .home_icon_services .columns_4 .column:nth-child(3)
    {
        margin-top: 15px;
        margin-left: 0;
    }
    .home_icon_services .columns_4 .column:last-child
    {
        margin-top: 15px;
    }
       
}
@media screen and (max-width: 479px) {

    .home_icon_services .columns_4 .column {
        width: 280px;
        margin-top: 20px;
	    margin-left: 0px;
    }

    .home_icon_services .columns_4 .item_content .text {

        width: 280px;
    }
}
/*### SERVICES BOX ###*/









/*### OFFSHOOT HOME BOX ###*/
.offshoot-home-box-container {
    margin-bottom: 20px;
    border-top: 1px solid #DEDFE1;
}
.offshoot-home-box .box_header
{
    margin-top: 25px;
    color: #999;
}
.offshoot-home-box .box_header::after
{
    content: none;
}
.offshoot-home-box .gallery_box
{
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
.offshoot-home-box .gallery_box:hover
{
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}
.offshoot-home-box .gallery_box img
{
	width: 170px;
	height: 139px;
}
.offshoot-home-box .gallery_box .description {
    background: none;
}
.offshoot-home-box .gallery .description h3 {
    font-weight: normal;
    color: #999;
}
.offshoot-home-box .gallery .description h3:hover {
    color: #CCC;
}
/*### OFFSHOOT HOME BOX ###*/







/*### NEWS BOX ###*/
.home-box-news-container {
    margin-top: 50px;
    margin-bottom: 50px;
}
.home-news-box {
    width: 75% !important;
    margin: 0;
    float:left;
}
.home-news-box h3 {
    margin-bottom: 10px;
    color: #4A9896; 
}
.home-news-box .gallery_box
{
	width: 225px;
    height: auto;
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    transition-property: transform, opacity;
    transition-duration: 0.8s;
}
.home-news-box .gallery_box:hover
{
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.home-news-box .gallery_box .description {
    background: none;
    padding: 10px 0px;
}

.home-news-box .description h3, .home-news-box .description h3:hover {
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    color: #4A9896;
}

.home-news-box .description h5, .home-news-box .description h5:hover {
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    color: #666666;
}
.home-news-box .gallery_box .controls {
    display: none;
}

@media screen and (max-width: 768px) {

    .home-news-box {
        width: 100% !important;
    }
}

@media screen and (max-width: 479px) {

    .home-news-box .gallery.horizontal_carousel li.gallery_box:first-child {
        margin-left: 0;
        margin-right: 0;
    }
}
/*### NEWS BOX ###*/








/*### CAROUSEL ###*/
.header_right a.scrolling_list_control_left:hover,
.header_right a.scrolling_list_control_right:hover {
	border-color: #4A9896;
	color: #4A9896;
}
/*### CAROUSEL ###*/










/*### NEWS FEATURE BOX ###*/
.home-box-news-feature-container {
    position: relative;
    width: 23%;
    float: right;
}
.home-box-news-feature {
    position: relative;
    width: 100%;
    min-height: 175px;
    float: right;
    background-image: url(../../images/foto-noticia-destaque.jpg);
    background-size: 100%;
}
.home-box-news-feature:nth-of-type(1) .description {
    top: 0;
}
.home-box-news-feature:nth-of-type(1) .description h3, .home-box-news-feature:nth-of-type(1) .description h5 {
    color: #666666;
}

.home-box-news-feature:nth-of-type(2) {
    margin-top: 10px;
    background-position-y: -186px;
}
.home-box-news-feature .description {
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: 0;
    padding: 10px;
}
.home-box-news-feature .description h3, .home-box-news-feature .description h5 {
    color: #FFF;
}
.home-box-news-feature .description h3 {
    font-size: 15px;
    line-height: 150%;
}
.home-box-news-feature .description h5 {
    margin-top: 5px;
    font-size: 12px;
    line-height: 150%;
}
@media screen and (max-width: 768px) {

    .home-box-news-feature-container {
        display: none;
    }
}
/*### NEWS FEATURE BOX ###*/







/*### SOCIAL MEDIA BOX ###*/
.social-media-box-container {
    margin-bottom: 20px;
    padding: 20px 0;
    border: none;
    background-color: #4A9896;
}
.social-media-box .box_header
{
    margin-top: 25px;
    color: #FFF;
}
.social-media-box .box_header::after
{
    content: none;
}
.social-media-box .social_gallery
{
    margin: auto;
    width: 85%;
    margin-top: 25px;
}
.social-media-box .social_gallery li
{
    width: auto;
    max-height: 220px;
    margin: 0;
    padding: 0;
    float: left;
    text-align: center;
}
.social-media-box .social_gallery img
{
    max-height: 220px;
}
.social-media-box .social_gallery li:nth-child(4) img,
.social-media-box .social_gallery li:nth-child(5) img,
.social-media-box .social_gallery li:nth-child(6) img
{
    max-height: 178px;
}
@media screen and (max-width: 768px) {

    .social-media-box .social_gallery {
        width: 77%;
    }
}
@media screen and (max-width: 479px) {

    .social-media-box .social_gallery {
        width: 100%;
    }
}
/*### SOCIAL MEDIA BOX ###*/







/*### PARTNERS AREA ###*/
.home-partners-box-container {
    padding: 20px 0 40px 0;
}
.home-partners-box ul
{
    width: 58%;
    margin: auto;
}
.home-partners-box .partners_gallery li
{
    width: auto;
    max-height: 120px;
    margin-right: 60px;
    padding: 0;
    float: left;
    text-align: center;
}
.home-partners-box .partners_gallery li:last-child
{
    margin-right: 0;
}
.home-partners-box .partners_gallery h3
{
    padding-top: 35px;
    font-size: 20px;
    color: #666666;
}
.home-partners-box .partners_gallery h3:after
{
	content: "";
	display: block;
	bottom: 0;
	width: 50px;
	height: 2px;
	background: #4A9896;
	margin-top: 6px;
}
@media screen and (max-width: 1009px) {

    .home-partners-box ul {
        width: 72%;
        margin: auto;
    }
}
@media screen and (max-width: 768px) {

    .home-partners-box ul {
        width: 100%;
        margin: auto;
    }
    .home-partners-box .partners_gallery li
    {
        margin-right: 20px;
    }
}
@media screen and (max-width: 479px) {

    .home-partners-box .partners_gallery li
    {
        margin-right: 40px;
        margin-bottom: 30px;
    }
}
/*### PARTNERS AREA ###*/







/*### SERVICES PAGE ###*/
.services-page .header_left h1,
.services-page .header_left h2,
.services-page .header_left h3,
.services-page .header_left h4 {
    color: #4A9896;
}
.services-page .tabs_navigation li a {
    font-size: 16px;
}
.services2-page .header_left h2 {
    color: #4A9896;
}
.services2-page .header_left h3 {
    margin-top: 15px;
    color: #666666;
}
@media screen and (max-width: 479px) {

    .services-page .tabs_navigation li a {
        font-size: 14px;
    }    
}
/*### SERVICES PAGE ###*/







/*### NEWS PAGE ###*/
.news-page .header_left h1,
.news-page .header_left h2,
.news-page .header_left h3,
.news-page .header_left h4 {
    color: #4A9896;
}
.news-page .tabs_navigation li a {
    font-size: 16px;
}

.news-page .news-box .column_right {

    min-height: 201px;
    background-color: #f2f2f2;
}

.news-page .news-box h4 {
    padding: 8px;
    font-size: 14px;
    color: #4A9896;
}

.news-page .news-box h3 {
    padding: 8px;
    color: #8d8d8d;
}

.news-page .news-box p {
    padding: 8px;
    font-size: 12px;
    line-height: 150%;
    color: #8d8d8d;
}

.news-page .news-box .more {
    margin: 8px;
}

.news-page .news-box .more.light,
.news-page .news-box .more.light:hover {
    color: #8d8d8d;
}


@media screen and (max-width: 1009px) {

    .news-page .news-box .column_right {

        height: auto;
    }
}
@media screen and (max-width: 479px) {

    .news-page .tabs_navigation li a {
        font-size: 14px;
    }    
}
/*### NEWS PAGE ###*/










/*### SHOW NEWS PAGE ###*/
.show-news-page h2 {
    margin: 15px 0 30px 0;
    text-align: center;
    color: #8d8d8d;
}
.show-news-page h3 {
    text-align: center;
    color: #4A9896;
}
.show-news-page h4 {
    margin-bottom: 10px;
    color: #4A9896;
}
.tp-banner-container.page-mostra {
    min-height: 150px;   
}
@media screen and (max-width: 479px) {
    .tp-banner-container.page-mostra {
        min-height: 180px;   
    }
}
/*### SHOW NEWS PAGE ###*/








/*### FAQ PAGE ###*/
.faq-page h2 {

    color: #4A9896;
}
.faq-page blockquote {
    margin-left: 25px;
    color: #8d8d8d;
    border-left: 2px solid #8d8d8d;
}
/*### FAQ PAGE ###*/









/*### CONTACT PAGE ###*/
.contact_map {
    width: 100%;
    height: 100%;
}
.contact-page .home-contact-area {
    background: none;
}

.contact-page h2 {
    margin: 15px 0 30px 0;
    text-align: center;
    color: #4A9896;
}
.contact-page h3 {
    text-align: center;
    color: #8d8d8d;
}
.contact-page .home-contact-area .item_content .text
{
    margin-top: 0;
}
.contact-page .home-contact-area ul:first-child .item_content .text
{
    margin-top: -20px;
}
.contact-page .contact_form {
    margin-top: 0;
}
.contact-page .contact_form .text_input {
    width: 98%;
}
.contact-page .contact_form textarea {
    width: 98%;
}


.contact-page .contact_form input,
.contact-page .contact_form textarea {
    padding: 10px 1% 10px 1%;
    color: #8d8d8d;
    margin: 0;
    background: transparent;
    border: 1px solid #8d8d8d;
    border-radius: 5px;
}

.contact-page .contact_form input[type='submit']
{
	float: right;
	width: auto;
	height: 36px;
	margin-top: 20px;
	cursor: pointer;
	text-align: center;
	outline: none;
}

.contact-page .more.blue:hover {
    color: #FFF;
    background-color: #4A9896;
}

@media screen and (max-width: 1009px) {

    .contact-page .home-contact-area .column:last-child .item_content .text span {
        font-size: 12px;
        line-height: 120%;
    }
}

@media screen and (max-width: 767px) {

    .contact-page .home-contact-area .columns_3 .column {
        width: 138px;
        margin-left: 0px;
        margin-right: 13px;
    }

    .contact-page .home-contact-area .columns_3 .column:first-child {
        margin-left: 0px;
    }
    .contact-page .home-contact-area ul:first-child .item_content .text
    {
        margin-top: 20px;
        font-size: 16px;
    }
    
    .contact-page .home-contact-area .item_content
    {
        margin-left: 20px;
    }

    .contact-page .home-contact-area ul:last-child .item_content
    {
        margin-left: 55px;
    }

    .contact-page .home-contact-area .columns_3 .column:last-child {
        margin-right: 0px;
    }
    
    .contact-page .home-contact-area .columns_3 .item_content .text {
        
        margin-top: 20px;
        width: 138px;
    }
}

@media screen and (max-width: 479px) {

    .contact-page .home-contact-area .columns_3 .column {
        width: 300px;
        margin-left: -20px !important;
    }

    .contact-page .home-contact-area .features_image {

        position: relative;
        margin: 10px 0 0 0px;
        float: left;
    }

    .contact-page .home-contact-area ul:last-child .item_content
    {
        margin-left: 20px;
    }

    .contact-page .home-contact-area ul:first-child .item_content .text {
        margin-top: 0;
    }

    .contact-page .home-contact-area .columns_3 .column:first-child {
        margin-left: 0px;
    }

    .contact-page .home-contact-area .columns_3 .item_content .text {
        
        position: relative;
        margin: 0;
        width: 185px;
        float: right;
    }
}
/*### CONTACT PAGE ###*/









/*### JOB PAGE ###*/
.job-page .contact_form input[type='file'] {
    border: none;
}
/*### JOB PAGE ###*/





/*### FOOTER ###*/
.footer_container {
    padding-top: 20px;
    background-color: #2c2c2c;  
}
.footer_container .box_header:after
{
    content: "";
    display: block;
    bottom: 0;
    width: 50px;
    height: 2px;
    background: #4A9896;
    margin-top: 10px;
}
.footer_box
{
    margin-bottom: 15px;
}
.footer_box .features_image,
.footer_box .features_image img
{
	display: block;
	width: 32px;
	height: 32px;
}

.footer_box .columns_3 .item_content .features_image, .footer_box .columns_3 .features_image img,
.footer_box .features_icons_small .features_image, .footer_box .features_icons_small .features_image img
{
	width: 32px;
	height: 32px;
}
.footer_box .item_content .text
{
    padding-top: 8px;
    float: left;
    color: #9e9e9e;
}
.footer_box li.item_content:first-child .text
{
    padding-top: 0px;
}
.footer-service .item_content {
    margin-top: 0px;
    margin-bottom: 10px;
}
.footer-service .item_content .text a {
    color: #9e9e9e;
}
.footer-service .item_content .text a:hover {
    color: #FFF;
}
/*### FOOTER ###*/
