/*######## MODIFICA O TAMANHO DA BARRA LATERAL DO MENU ########*/

/* TAMANHO DA BARRA: 210px */

.sidebar + .main-content {
  margin-left: 210px;
}

.sidebar {
  width: 210px;
}

.sidebar ~ .footer .footer-inner {
  left: 210px;
}

@media only screen and (max-width: 991px) {
  .footer .footer-inner,
  .sidebar ~ .footer .footer-inner {
    left: 0;
  }

  .navbar-fixed-top + .main-container > .menu-toggler + .responsive {
    left: 210px;
    margin-left: -210px;
  }

  .sidebar.responsive {
    -moz-transform: translateX(-220px);
    -webkit-transform: translateX(-220px);
    -o-transform: translateX(-220px);
    -ms-transform: translateX(-220px);
    transform: translateX(-220px);
    left: 210px;
    margin-left: -210px;
  }

  .sidebar.responsive.push_away.display + .main-content {
    -moz-transform: translateX(210px);
    -webkit-transform: translateX(210px);
    -o-transform: translateX(210px);
    -ms-transform: translateX(210px);
    transform: translateX(210px);
  }

  .navbar.navbar-fixed-top + .main-container .sidebar.responsive.push_away.display ~ .footer .footer-inner {
    -moz-transform: translateX(210px);
    -webkit-transform: translateX(210px);
    -o-transform: translateX(210px);
    -ms-transform: translateX(210px);
    transform: translateX(210px);
  }
}

@media only screen and (min-width: 992px) {
  .nav-list li.hover > .submenu {
    width: 210px;
  }

  .main-content .h-sidebar.sidebar-fixed {
    left: 210px;
  }

  .sidebar.h-sidebar .nav-list > li.hover > .submenu {
    width: 210px;
  }
}

@media (min-width: 992px) {
  .sidebar.h-sidebar.menu-min .nav-list > li > a > .menu-text {
    width: 210px;
  }

  .sidebar + .main-content .breadcrumbs-fixed {
    left: 210px;
  }

  .container.main-container .sidebar ~ .footer .footer-inner {
    margin-left: 210px;
    width: 754px;
  }

  .sidebar.h-sidebar.menu-min .nav-list > li > a > .menu-text {
    width: 210px;
  }
}

@media (max-width: 991px) {
  .footer .footer-inner,
  .sidebar ~ .footer .footer-inner {
    left: 0;
  }

  .sidebar.responsive-max {
    left: 210px;
    margin-left: -210px;
  }
}

@media (min-width: 1200px) {
  .container.main-container .sidebar ~ .footer .footer-inner {
    margin-left: 210px;
    width: 954px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container.main-container .footer .footer-inner {
    width: 724px;
  }

  .container.main-container .sidebar ~ .footer .footer-inner {
    width: 724px;
  }
}

/*######## MODIFICA O TAMANHO DA BARRA LATERAL DO MENU ########*/


.navbar-brand {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}


.nav-search .nav-search-input {

  margin-bottom: 10px;
  width:  200px;
}