/*######## ESTILOS COMUNS A TODOS OS SISTEMAS DO ADMIN ########*/

.dataTables_processing {
	position:absolute;
	width:140px;
	height:30px;
	top:55%;
	left:50%;
	margin-top:-15px;
	margin-left:-70px;
	padding:4px;
	line-height:30px;
	text-align:center;
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
	/* Chrome10+,Safari5.1+ */
	background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
	/* FF3.6+ */
	background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
	/* IE10+ */
	background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
	/* Opera 11.10+ */
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
	/* W3C */
}

@media (min-width:768px){.modal-dialog {
        width: 90%;
        margin: 30px auto
    }
}

.help-block {
	margin-left:28%;
}

.datepicker{
	z-index:9999999 !important;
}

.modal-backdrop.in {
    position:fixed;
}

a#txt-up, a#txt-down {
	cursor: pointer;
}

.titulo_sistema, .titulo_sistema:hover {
	cursor: pointer;
}

.autosize-transition {
	min-height: 80px;
	max-height: 300px;
}

div.tags {
	width: 100% !important;
}

div.tools a {
	cursor: pointer;
}

.botoes-versoes {
	cursor: pointer;
}