/*######## MODIFICA O TAMANHO E POSIÇÃO DO GRITTER NA PÁGINA DE LOGIN ########*/
 #gritter-notice-wrapper {
	 position:absolute;
	width:301px;
	left:42%;
	top:50%;
	margin-left:-150px;
 }
 .gritter-close {
	 position: absolute;
	 left: 270px;
	 background: none !important;
 }
 .gritter-top, .gritter-item, .gritter-bottom {
 	background: none !important;
 }
/*######## MODIFICA O TAMANHO E POSIÇÃO DO GRITTER NA PÁGINA DE LOGIN ########*/
